//Disable pagination button
.disabled-button {
    color: #999; 
    pointer-events: none; 
  }
/* Example CSS */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  vertical-align: top;
}

td[rowspan] {
  vertical-align: middle;
}

td[colspan] {
  text-align: center;
}
